.background {
  background-image: url("../images/desktop-1920x1080.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}

.grid-container {
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  transition: 500ms;
  display: grid;
  grid-auto-rows: 100vh;
}

.grid-container:has(.image-container-create:hover) {
    grid-template-columns: 1.5fr 0.75fr 0.75fr;
  }
  .grid-container:has(.image-container-find:hover) {
    grid-template-columns: 0.75fr 1.5fr 0.75fr;
  }
  .grid-container:has(.image-container-list:hover) {
    grid-template-columns: 0.75fr 0.75fr 1.5fr;
  }

.image-container-create {
    background-image: url("../images/grass.jpg");
    border-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(10%);
    height: 100%;
  }

.image-container-find {
  background-image: url("../images/WallpaperDog-5550604.jpg");
  border-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: grayscale(10%);
  height: 100%;
}

.image-container-list {
    background-image: url("../images/greyscale-gym.avif");
    border-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-filter: grayscale(10%);
    height: 100vh;
  }

.text-tile {
  background-color: white;
  border-color: black;
  border-style: solid;
  -webkit-text-stroke: 2px black;
  color: black;
  text-shadow: 3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 3vw; /* Responsive font size */
  font-weight: bold;
  margin: 0 auto; /* Center the text container */
  padding: 10px;
  width: 50%;
  text-align: center; /* Center text */
  position: absolute; /* Position text */
  top: 50%; /* Position text in the middle */
  left: 50%; /* Position text in the middle */
  transform: translate(-50%, -50%); /* Position text in the middle */
  mix-blend-mode: screen; /*This makes the cutout text possible */
}
